<!-- Introducimos el cuerpo de nuestra página registro -->
<!-- Obtenida de https://codepen.io/miroot/pen/qwIgC pero modificada para que sea un registro-->
<!-- Creador: @miroot https://codepen.io/miroot -->


<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Registro</h2>

  <form class="login-container">
    <p>Indica tu Nombre:</p>
    <p><input type="text" placeholder="Nombre"></p>
    <p>Indica el email con el que iniciar sesión:</p>
    <p><input type="email" placeholder="Email"></p>
    <p>Introduce una contraseña:</p>
    <p><input type="password" placeholder="Password"></p>
    <p><input type="submit" value="Registrarse"></p>
  </form>
</div>
